{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div class = "container">
<div class = "my-5">
	<h1 class="">喜讯 | 包头市城市建设数字化管理应急指挥系统（一期）项目顺利通过验收<h1>
	<h4 class="">2017-11-30 智慧市政事业部 五零盛同</h4>
</div>
<div class = "">

	<div class = "">
		<blockquote>
                 2017年11月22日，包头市市政工程管理局在市城建委18楼数控中心按照项目验收要求，组织项目建设方、承建方、监理方，并邀请各市政工程相关领域的专家，召开了“包头市城市建设数字化管理应急指挥系统（一期）”验收会。
		</blockquote>
    </div>
    <div class = "my-5">
	    <img class ="img-fluid" src="{% static 'portal/img/news/20171130_2_1.webp' %}"></img>
    </div>
</div>
<div class = "">

	<div class = "">
          <blockquote>
会上，承建单位中国电科第五十研究所盛同公司汇报了项目建设工作情况，专家组在认真听取了各项汇报观看了各个系统现场演示和监理公司总结报告后一致同意通过验收，并认为项目建设过程符合信息化项目建设的总体要求，建设成效明显，符合预期目标。
       </blockquote>
    <div class = "my-5">
	    <img class ="img-fluid" src="{% static 'portal/img/news/20171130_2_2.webp' %}"></img>
    </div>
    	</div>
</div>

<div class = "">
	
	<div class = "">
          <blockquote>
包头城市建设数字化管理应急指挥系统项目一期（二标段）以城市运行管理为突破口，以公用行业、市政、园林、环卫等领域为重点，围绕日常管理、安全监测、应急指挥三个层面开展项目建设，初步形成市建成区范围内城市运行管理主要内容的“测、报、防、抗、救、援”应急指挥基本框架，实现统一指挥、反应灵敏、功能齐全、协调有序、运转高效的城建应急管理目标，为保障城市运行安全和打造服务型政府提供全方位支撑。
      </blockquote>
     	</div>
</div>
</div>

{% endblock content%}


