{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div class = "container">
<div class = "my-5">
	<h1 class="">重磅 | 走出国门，公司多款“智慧产品”亮相全球智慧城市博览会<h1>
	<h4 class="">2017-11-30 五零盛同 五零盛同</h4>
</div>
<div class = "">

	<div class = "">
		<blockquote>
                11月14日至16日，第七届全球智慧城市博览会暨世界智慧城市大会在西班牙巴塞罗那举行，中国电子科技集团公司携旗下多家研究所、子公司亮相巴塞罗那展会。公司智慧灯杆、智慧市政，智慧桥梁、园林模型等多款系统和产品亮相国际舞台，吸引了众多观众驻足观望。
		</blockquote>
    </div>
    <div class = "my-5">
	    <img class ="img-fluid" src="{% static 'portal/img/news/20171130.webp' %}"></img>
    </div>
</div>
<div class = "">

	<div class = "">
          <blockquote>
巴塞罗那智慧城市博览会暨世界智慧城市大会是一个推广智慧城市的全球性活动，自 2011年举办至今，已发展成为智慧产业界人士的交流中心及项目招商投资平台，聚集了世界最具创新的城市、企业、研究中心和国际组织的专家及领导者，引领世界智慧城市产业的发展方向，是全球范围内业界影响力最大的博览会之一。大会分为智慧城市产品展览、智慧城市论坛、智慧城市解决方案征集、智慧城市大奖评选等多个板块，聚焦政务管理、交通、可持续性发展、城市安全、循环经济等多个领域。根据数据显示，此次博览会共吸引全球675家参展商，约420名主讲嘉宾和超过700座城市的代表，17000多位专业买家和观众到场，总展会面积超过40000平方米。


       </blockquote>
    	</div>
</div>

<div class = "">
	
	<div class = "">
          <blockquote>
会议期间，营销中心副经理及班组长对2017年工作进行了详细汇报，也根据自身的业务发展情况对营销中心的工作提出了建议和改进措施。与会人员围绕“市场趋势、机制创新、行业发展”进行了充分的讨论，畅所欲言，为公司更好的发展出谋划策。
      </blockquote>
    <div class = "my-5">
	    <img class ="img-fluid" src="{% static 'portal/img/news/20171130_2.webp' %}"></img>
    </div>
   <div class = "my-5">
	    <img class ="img-fluid" src="{% static 'portal/img/news/20171130_3.webp' %}"></img>
    </div>
    	</div>
</div>


<div class = "">
	
	<div class = "">
          <blockquote>
在展会开幕当日，集团公司总经理刘烈宏一行视察了中国电科展台。在智慧市政和智慧民生展区，公司参展人员向刘烈宏汇报了智慧灯杆的多种功能以及落地情况，智慧市政的创新点和行业特点。刘烈宏高度肯定了公司的产品和发展规划，并对智慧产业的发展提出了许多宝贵建议。

     </blockquote>
  <div class = "my-5">
	    <img class ="img-fluid" src="{% static 'portal/img/news/20171130_4.webp' %}"></img>
    </div>
   	</div>
</div>

<div class = "">
	
	<div class = "">
          <blockquote>
展会期间，来自全球的大量观众对智慧灯杆、管道机器人等产品设备表示出浓厚的兴趣，前来咨询的人员络绎不绝。
        公司作为智慧灯杆和智慧市政行业的领军企业，紧密围绕国家“新型智慧城市”建设的发展理念，通过持续的技术革新，推出的系列系统和产品在国内得到了广泛应用，这次成功亮相全球智慧城市博览会，为公司系列智慧产品走出国门奠定了良好的基础。
     </blockquote>
  <div class = "my-5">
	    <img class ="img-fluid" src="{% static 'portal/img/news/20171130_5.webp' %}"></img>
    </div>
   	</div>
</div>
</div>

{% endblock content%}


