{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div class = "container">
<div class = "my-5">
	<h1 class="">关爱健康 | 公司开展健康知识讲座<h1>
	<h4 class="">2018-01-09 行政管理中心 五零盛同</h4>
</div>
<div class = "">
	<h3 class="">关爱健康知识讲座</h3>
	<div class = "">
		<blockquote>
                为进一步提升员工关爱自我，健康生活的意识，做到自省自查、提前防御，在 2017年度体检报告下发之后，根据员工们反映的普遍情况，盛同公司于2018年1月3日在313会议室召开了“关爱健康”知识讲座，参会人数将近60人，座无虚席，反响热烈。
		</blockquote>
    </div>
    <div class = "my-5">
	    <img class ="img-fluid" src="{% static 'portal/img/news/20180109_3_1.webp' %}"></img>
    </div>
</div>
<div class = "">
	
	<div class = "">
          <blockquote>
本次讲座特别邀请了复旦大学附属中山医院内分泌科卞华副主任讲解甲状腺结节的基本知识：首先鉴别良恶性需要多方面考虑，结节的形态、边界、钙化等情况都需考虑在列，其次所有甲状腺结节患者均应进行颈部超声检查。卞华副主任还详细介绍了细针穿刺，包括细针穿刺抽吸活检适用情况以及细针穿刺的必要性，打消了大家的顾虑，最后解答了甲状腺结节的处理原则及方式。讲座内容丰富，深入浅出，让大家受益匪浅
       </blockquote>
    <div class = "my-5">
	    <img class ="img-fluid" src="{% static 'portal/img/news/20180109_3_2.webp' %}"></img>
    </div>
    	</div>
</div>

<div class = "">
	
	<div class = "">
          <blockquote>
讲座之后卞华副主任也亲切耐心地解答了大家自发提出的诸多问题，针对如何改善亚健康、提高个人免疫力、在被检测出高血压、高血脂、高血糖、脂肪肝、糖尿病后应如何改善，以及肩周炎、颈椎病、腰椎间盘突出等常见职业病的预防和改善进行了讲解。讲座采取现场互动形式对老师咨询的健康问题进行了一一解答，受到员工们的一致好评。

本次讲座通过零距离地学习，面对面地交流，让广大员工更透彻地领会了健康行为和生活方式、慢性病的预防和保健，真正做到体检之后的改善预防作用，提高了我公司员工的健康意识，形成人人重视健康、关爱健康的良好精神风貌。
      </blockquote>
 
    	</div>
</div>



</div>
</div>


{% endblock content%}


