{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div class = "container">
<div class = "my-5">
	<h1 class="">送温暖 | 心系员工，情暖人心<h1>
	<h4 class="">2018-01-09 公司党总支 五零盛同</h4>
</div>
<div class = "">

	<div class = "">
		<blockquote>
               对于本次送温暖活动，公司领导十分重视。在公司党总支的关心下，公司工会委员会提前组织专门会议布置，从了解各个部门的职工情况，到制定具体实施计划、采购送温暖物资等各个环节，都进行了严密部署。此次慰问的员工家庭中，有的市场人员没能陪护亲人在医院做重病手术，而是全力投入到全国照明行业协会筹备和接待中；有的一线人员工作上夜以继日，无时间顾及家中幼童、生病父母；有的工程人员长期在外地出差从事项目建设，难以回家；也有员工自身生病做了手术，挂心部门工作立刻回公司上班......
		</blockquote>
    </div>
    <div class = "my-5">
	    <img class ="img-fluid" src="{% static 'portal/img/news/20180109_4_1.webp' %}"></img>
    </div>
</div>
<div class = "">

	<div class = "">
          <blockquote>
为了参加慰问活动，公司领导外地出差赶回，周末时赶赴徐汇、嘉定、闵行、普陀等区，给慰问员工家庭送去了慰问品，并与员工及家属亲切交谈，畅谈公司发展前景，肯定员工为公司做的贡献，感谢家属对员工工作的大力支持。接受慰问的员工和家属对本次送温暖活动也很感动，他们纷纷表示体会到公司对员工的关爱，今后将更加努力工作，争取为公司做出更大的贡献。

通过这次活动，温暖了人心，增强了企业的凝聚力。公司领导表示，在全体员工的共同拼搏下，公司今年取得了非常突出的经营业绩，本次只是慰问了一些员工代表，在今后的工作中，公司一定会将“冬送温暖、夏送清凉”活动常态化，切实做好慰问一线职工和帮助困难家庭等事宜，及时深入员工家庭，帮助解决实际困难，进一步增强企业向心力和员工对企业的认同感，营造温馨和谐友爱的大家庭。




       </blockquote>
    	</div>
</div>
</div>




{% endblock content%}


