{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div class = "container">
<div class = "my-5">
	<h1 class="">喜讯 | 50所连续三届获“全国文明单位”称号<h1>
	<h4 class="">2018-01-09 中电科50所 五零盛同</h4>
</div>
<div class = "">
	<h3 class="">全国文明单位</h3>
	<div class = "">
		<blockquote>
                “全国文明单位”评选活动是由中央文明委组织的精神文明建设综合性评选活动，每3年评选表彰一次。该奖项是物质文明、精神文明、政治文明、生态文明建设综合性评价的国家级最高荣誉称号，是群众性精神文明创建活动中覆盖面最广、影响力最大的龙头工程，代表的是单位在本领域的领先地位和优秀水准。



50所历来高度重视文明单位创建工作，全面落实责任，强化组织、机构、人员和经费等支撑保障体系建设，紧紧围绕中心工作，不断巩固和扩大全国文明单位创建成果，有序推进领导班子建设、基层党组织建设、党风廉政建设、创新文化建设、企业经营管理、群团组织建设、社会责任管理等工作，为全所改革发展凝聚了强大的精神力量，促进50所规模效益实现持续增长。



50所将珍惜荣誉，不忘初心、牢记使命，以改革创新的精神和真抓实干的作风，不断推动文明单位创建向更高层次迈进，为全所改革发展提供强大的价值引领力、文化凝聚力和精神推动力。
		</blockquote>
    </div>
    <div class = "my-5">
	    <img class ="img-fluid" src="{% static 'portal/img/news/20180109_2_1.webp' %}"></img>
    </div>
</div>
</div>


{% endblock content%}


