{% extends 'portal/base.html' %}
{% load static %}

{% block content %}
<div class = "container">
<div class = "my-5">
	<h1 class="">中标 | 服务“一带一路”建设 盛同中标西宁“智慧照明”<h1>
	<h4 class="">2018-01-27 五零盛同</h4>
</div>
<div class = "">
	<div class = "">
		<blockquote>
                一直以来五十所盛同公司凭借雄厚的技术实力、良好的企业信誉和丰富的项目经验为全国300多个城市提供了先进的智慧照明管理方案。同时，盛同公司积极参与国家“一带一路”建设，已在西北区域的西安、乌鲁木齐、银川、兰州、敦煌、酒泉等22个城市承接了城市道路智慧照明系统。2018年1月，公司再接再厉，参加了“西宁市路灯信息化综合管理系统建设项目”竞标并成功中标，中标金额581万元。

作为公司布局青海市场的第一个项目，全公司高度重视，选派出多位业务骨干提前到现场考察讨论建设方案，公司营销中心西北大区的团队放弃元旦假期在宾馆中编制招标文件，经常加班到深夜。在大家的辛苦努力下，1月11日公司的项目建设方案在多家投标单位中脱颖而出顺利中标。该项目的承接不仅填补了智慧照明应用系统在青海省的市场空白，更意味我公司研发的智慧照明应用系统将服务于西北五省的每一个省会城市，全面服务国家“一带一路”区域经济带上的重要城市。
		</blockquote>
    </div>
    <div class = "my-5">
	    <img class ="img-fluid" src="{% static 'portal/img/news/20180127_2_1.webp' %}"></img>
    </div>
</div>
<div class = "">
	<div class = "">
          <blockquote>
本次项目以“管理决策科学化，资产管理精细化、工作流程标准化、应急处理智能化”为目标，依托智慧照明监控系统，对西宁市区范围内的照明设施实施智能化监控和数字化管理。全力打造“一个中心、一张图、一个平台、两个体系、两类库、多应用”的西宁市智慧照明综合管理系统，实现了控制终端数据实时采集、照明线路智能控制、设备故障实时报警、照明信息无纸化管理等功能，全面提升了西宁市数字化照明管理水平。

新年伊始，公司市场工作取得开门红，也预示着在五十所的指导下，五零盛同公司将以饱满的精神面貌，在智慧照明、智慧市政、智慧管网、智慧安防等智慧城市建设领域做出更多、更新的成绩，以优异的成绩贯彻落实十九大的精神。

       </blockquote>
    	</div>
</div>
</div>
{% endblock content%}

