{% extends 'portal/base.html' %}
{% load static %}

{% block content %}
<div class = "container">
<div class = "my-5">
	<h1 class="">喜讯 | 公司荣获智慧城市管理创新应用“先进单位”称号<h1>
	<h4 class="">2018-01-27 五零盛同</h4>
</div>
<div class = "">
	<div class = "">
		<blockquote>
                1月18日，第三届智慧城市管理与物联网技术应用创新大会暨物联网学组年会在苏州召开，３００余位业界代表共谋智慧城市大数据应用，协力推进城市“智慧大脑”建设。50所盛同公司在会上荣获中国城市科学研究会数字城市专业委员会颁发的“先进单位”称号。
会议以“互联网＋城市管理，让城市更美好”为主题，与会专家和业界人士通过主旨报告、交流探讨等形式，解读城市执法体制改革政策和城市治理工作制度完善路径。

大会聚焦数字化城市管理平台、网格化管理、市政公用、市容环卫、园林绿化、城管执法信息化等应用场景，探索移动互联网、物联网、大数据、云计算等现代信息技术与城市管理服务融合模式，以促进城市管理和服务体系智能化建设，提高城市治理的现代化水平。
		</blockquote>
    </div>
    <div class = "my-5">
	    <img class="img-fluid" src="{% static 'portal/img/news/20180127.webp' %}"></img>
    </div>
</div>
<div class = "">
	<div class = "">
          <blockquote>
大会期间举行了智慧城市管理创新应用示范项目颁奖仪式，盛同公司等4家单位荣获“先进单位”称号。



多年来，盛同公司始终加大研发投入、技术创新和业务创新，目前为全国400多个客户提供并实施了包括智慧市政管理平台、智慧照明管理平台、智慧灯杆管理平台、智慧园林管理平台、智慧环卫管理平台等在内的与智慧城市建设相关的解决方案，创新提出的“智慧路灯”模式已在全国各地多个行业落地生根并成效显著。



此次获奖，充分证明了盛同公司的综合实力及技术水平得到了行业的认可和肯定。未来，公司将继续在智慧城市各个领域深耕细作、不断创新，为城市管理者提供更优质的服务。

       </blockquote>
    <div class = "my-5">
	    <img class="img-fluid" src="{% static 'portal/img/news/20180127_2.webp' %}"></img>
    </div>

    	</div>
</div>
</div>
{% endblock content%}

