{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<div class = "container">
<div class = "my-5">
	<h1 class="">关注 | 公司召开2018年首次市场工作会议<h1>
	<h4 class="">2018-01-09 营销中心 五零盛同</h4>
</div>
<div class = "">
	<h3 class="">加强业务能力培养，坚持市场导向方针</h3>
	<div class = "">
		<blockquote>
                2018年1月2日，新年开工第一天，盛同公司营销中心召开大客户销售营销培训会暨盛同公司2018年度市场工作务虚会，本次会议是营销中心主管领导、部门领导履新后的第一次会议，会议分为上下半场，上午培训会主要从大客户销售的本质解读、客户公关、销售核心策略为重点，将项目销售全过程进行剖析。下午市场工作务虚会分析当前销售形势，找准困难问题，安排部署2018年销售工作。本次会议由公司副总经理王强主持，公司领导班子成员、各相关部门领导及营销中心全体成员参加会议。
		</blockquote>
    </div>
    <div class = "my-5">
	    <img class ="img-fluid" src="{% static 'portal/img/news/20180109.webp' %}"></img>
    </div>
</div>
<div class = "">
	<h3 class="">《盛同公司大客户营销》培训</h3>
	<div class = "">
          <blockquote>
公司副总经理储昭兵首先对所有参会人员进行了《盛同公司大客户营销》培训，本次培训是应所有销售人员请求从2017年12月就开始准备，培训内容从四个方面进行了深度分析，在第一部分中解读了大客户营销本质，紧接着信息收集与深度接触，重点在于第三、四部分的客户公关与组织联盟、竞争博弈与投标策略，最后强调要根据盛同公司市场特点加强项目化销售管理。


在下午会议开始时，公司副总经理、新任营销总监王强根据销售大数据分析，一针见血的提出市场工作存在的缺陷，并针对日益严峻的市场形势，要求各分公司面临日益紧张的市场竞争，在市场创新、产业发展、经营管理和人才队伍建设方面，寻求创新发展，并围绕新发展模式和新管理模式部署了下一阶段的重点工作。
       </blockquote>
    	</div>
</div>

<div class = "">
	<h3 class="">2017年工作总结 </h3>
	<div class = "">
          <blockquote>
会议期间，营销中心副经理及班组长对2017年工作进行了详细汇报，也根据自身的业务发展情况对营销中心的工作提出了建议和改进措施。与会人员围绕“市场趋势、机制创新、行业发展”进行了充分的讨论，畅所欲言，为公司更好的发展出谋划策。
      </blockquote>
    <div class = "my-5">
	    <img class ="img-fluid" src="{% static 'portal/img/news/20180109_2.webp' %}"></img>
    </div>
    	</div>
</div>


<div class = "advantage">
	<h3 class="port_h">2018年工作规划 </h3>
	<div class = "advantage_content">
          <blockquote>
公司党总支书记、副总经理张晓峰首先肯定了营销中心2017年的成绩，指出2018年是公司发展关键的一年，我们必须明确任务，保障各项经济指标圆满完成，在新的领导和形势下，分公司要抓好内部管理，特别是要做到职责明确、制度规范、考核工作量化，公司领导一定坚持“市场第一”的理念，用实际行动全力支持营销中心发展。

公司总经理卢强在总结过程中指出，2017年公司的业务取得了很大的发展，后续公司将以做大做强做优为导向，营销中心作为公司发展的核心部门，要认清市场的发展趋势，明确我们的阶段性战略目标，并根据外部竞争情况提出了“四个自信”，通过习近平总书记十九大报告中的“道路自信、制度自信、理论自信、文化自信”激励所有销售人员，要创新项目运作模式，逐步扩大产业规模，为全面完成公司各项目标任务而努力奋斗。提升自身的产业定位和高度，迎接更高的目标和更大的挑战。

     </blockquote>
   	</div>
</div>
</div>


{% endblock content%}


