<!doctype html>
<html lang="en">
  <head>
	  {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'portal/img/logo.ico'%}">


    <title>盛同</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'portal/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'portal/css/product.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md site-header sticky-top py-1 navbar-dark">
        <a class="d-inline-flex py-2 px-3" href="/.">
		<img src = "{% static 'portal/img/logo_dark.svg' %}" style = "width:30px;height:30px" class = "img-fluid"></img>
        </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container d-flex  flex-column flex-md-row justify-content-md-between" style = "max-width:760px;">
                <a class="py-2 " href="/.">首页</a>
		<!---
		<div class = "nav-item dropdown py-2">
                <a class="dropdown-toggle" href="#" id = "navbarDropdown" role = "button"
			data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false">Product</a>
		<div class = "dropdown-menu bg-dark" aria-labelledby = "navbarDropdown">
			<div class = " d-flex flex-row justify-content-between">
			<img src = "{% static 'portal/img/ld.svg' %}" style = "width:30%;height:20%"></img>
			<img src = "{% static 'portal/img/gw.svg' %}" style = "width:30%;height:20%"></img>
			<img src = "{% static 'portal/img/sz.svg' %}" style = "width:30%;height:20%"></img>
			<img src = "{% static 'portal/img/zm.svg' %}" style = "width:30%;height:20%"></img>
			</div>
		</div>
		</div>
		--->
                <a class="py-2" href="#" id = "nav-button">产品</a>
                <a class="py-2" href="company">企业</a>
                <a class="py-2" href="news_center">新闻</a>
                <a class="py-2" href="contact_us">联系我们</a>
                </div>
        </div>
    </nav>
    <div class = "bg-dark d-none" id = "small-nav" >
	    <div class = "mx-auto d-flex justify-content-between pt-3" style="max-width:300px;">
		<a href = "product_municipal">
		<figure class = "figure">
      	             <img src = "{% static 'portal/img/sz.svg' %}" class = "figure-img"></img>
		     <figcaption class = "figure-caption">市政</figcaption>
		</figure>
		</a>

       	        <a href="product_lamp">
		<figure class = "figure">
      	             <img src = "{% static 'portal/img/ld.svg' %}" class = "figure-img"></img>
		     <figcaption class = "figure-caption">灯杆</figcaption>
		</figure>
		</a>

		<a href = "product_light">
		<figure class = "figure">
      	             <img src = "{% static 'portal/img/zm.svg' %}" class = "figure-img"></img>
		     <figcaption class = "figure-caption">照明</figcaption>
		</figure>
		</a>

       	        <a href="product_pip">
		<figure class = "figure">
      	             <img src = "{% static 'portal/img/gw.svg' %}" class = "figure-img"></img>
		     <figcaption class = "figure-caption">管网</figcaption>
		</figure>
		</a>
	
	    </div>
    </div>

    {% block content %}{% endblock %}

    <div class = "bg-white">
     <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <img src = "{% static 'portal/img/logo.svg' %}"  class = "img-fluid" style = "height:30px;width:30px;"></img>
          <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'portal/js/vendor/jquery-slim.min.js' %}"></script>
    <script src="{% static 'portal/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'portal/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'portal/js/vendor/holder.min.js' %}"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
     
      document.getElementById("nav-button").addEventListener("click",function(event){
	      var small_nav = document.getElementById("small-nav");
	      if(small_nav.classList.contains("d-block")){
	          small_nav.classList.remove("d-block");
	      }
		      else{
	          small_nav.classList.add("d-block");
		      }
      },false);
    </script>
  </body>
</html>
