{% extends 'portal/base.html' %}
{% load static %}

{% block content %}
<div class = "container">
<div class = "py-5">
	<h1 class="">公司简介<h1>
</div>
<div class = "">
	<h3 class="pb-3">中国电子科技集团公司第五十研究所
上海五零盛同信息科技有限公司</h3>
	<div class = "">
		<blockquote>
            中国电子科技集团公司是经国务院批准、在原信息产业部直属电子研究院所和高科技企业基础上组建的国有重要骨干企业，是中央直接管理的副部级军工集团。名列财务世界500强。
		</blockquote>
		<blockquote>
中国电子科技集团公司第五十研究所（又称上海微波技术研究所，一下简称“五十所”），成立于1977年，先后隶属于四机部、电子部、信息产业部，2002年起隶属中国电子科技集团公司。五十所主要从事军事电子、市政电子、能源电子的研究及应用，军民结合，所区分军品、民品、试验区，合计占地一百多亩。
		</blockquote>
		<blockquote>
上海五零盛同信息科技有限公司系中国电子科技集团公司第五十研究所全资控股子公司，前身为五十所市政电子事业部，自上世纪八十年代以来，将数字通信技术与计算机技术相结合，发展成无线监控技术；主要产品有城市照明、电力负荷、供水、排水、热网、煤气等无线监控设备与系统，以及其他相关运动系统；现年生产能力10余万套，目前有数百套系统、百万台监控终端正在全国各地运行，是国内无线监控设备及系统的主要研发与生产单位。
		</blockquote>
		<blockquote>
五零盛同研制和承接的城市数字化市政管理平台及相关应用系统已在天津、重庆、西安、南宁、乌鲁木齐、长沙、石家庄、武汉、沈阳、苏州、常州、包头等三百多个城市中获得应用，最长运行时间已达二十多年，其开发能力、产品的质量、系统稳定性以及售后服务等翻面始终属于全国领先地位，伟我国数字城市、智慧城市建设做出了重要贡献，先后获得上哈市科技进步三等奖、信产部“优秀电子工程设计二等奖”、“电子产业用户满意产品”、国家重点新产品证书以及多个地方级技术进步奖。
		</blockquote>
		<blockquote>
五零盛同结合二十余年的城市各类绿化监控管理系统给的建设经验，组织精锐力量，成立了“智慧城市”产业发展机构，以国际国内智慧城市建设框架设计和产业应用的研究目标，全力为智慧城市建设的推进出谋划策，是全国第一家智慧灯杆研究地，第一个智慧灯杆落地上海。
		</blockquote>
		<blockquote>
五零盛同以智慧城市建设和管理为使命，致力于智慧市政、智慧照明、智慧管网等相关行业应用系统的设计、研制和服务，愿为我国智慧城市建设事业贡献自己应有的力量。

		</blockquote>
    </div>
    <div class = "py-5">
	    <img class ="img-flud" src="{% static 'portal/img/sht_summary.png' %}"></img>
    </div>
<div class = "py-5">
	<h1 class="">企业业绩<h1>
</div>
<div class = "">
	<h3 class="pb-3">中国电子科技集团公司第五十研究所
上海五零盛同信息科技有限公司</h3>
	<div class = "">
		<blockquote>
          上海五零盛同信息科技有限公司业务涵盖范围广，目前在全国各省市几乎都有分布，其中华东覆盖范围最为密集，逐渐形成了以上海为中心的辐射业务模式。
		</blockquote>
    </div>
    <div class = "py-5">
	    <img class ="img-fluid" src="{% static 'portal/img/sht_archevement.png' %}"></img>
    </div>
</div>

</div>


<div class = "py-5">
	<h1 class="">公司文化<h1>
</div>
<div class = "">
	<h3 class="pb-3">中国电子科技集团公司第五十研究所
上海五零盛同信息科技有限公司</h3>
	<div class = "">
		<blockquote>
                <b>企业精神：</b>创新 诚信 有爱 奉献
		</blockquote>
		<blockquote>
                <b>廉洁理念：</b>诚实守信  依法合规 勤勉尽责
		</blockquote>
		<blockquote>
                <b>经验理念：</b>内练素质 外树形象 创新做强 联合做大
		</blockquote>
		<blockquote>
                <b>质量理念：</b>技术先进 管理严谨 品质一流 顾客满意
		</blockquote>
		<blockquote>
                <b>安全理念：</b>以人为本 安全发展 四个第一 四个一切
		</blockquote>
		<blockquote>
                <b>保密理念：</b>积极防范 突出重点 严格标注怒 严格管理
		</blockquote>
		<blockquote>
                <b>管理理念：</b>以经济效益为中心 以技术创新为动力 以岗位职业为基础
		</blockquote>
    </div>
</div>



{% endblock content%}

