{% extends 'portal/base.html' %}
{% load static %}

{% block content %}
	<div class = "container">
		<div class = "row my-5">
			<div class = "col-md-6 px-3">
				<div class = "my-3 py-3">
					<h4>销售热线</h4>
					<div class = "d-flex justify-content-between my-3">
						<span>021-62541972</span>
						<span>联系人：王经理</span>
					</div>
					<div class = "d-flex justify-content-between my-3">
						<span>021-62547600 *6317</span>
						<span>联系人：王经理</span>
					</div>
					<div class = "d-flex justify-content-between my-3">
						<span>021-62547600 *6302</span>
						<span>联系人：王经理</span>
					</div>
				</div>

				<div class = "my-3 py-3">
					<h4>服务热线</h4>
					<div class = "d-flex justify-content-between my-3">
						<span>021-62547600 *6311</span>
						<span>联系人：李经理</span>
					</div>
				</div>

				<div class = "my-3 py-3">
					<h4>招聘热线</h4>
					<div class = "d-flex justify-content-between my-3">
						<span>021-62547600 *6311</span>
						<span>联系人：李经理</span>
					</div>
				</div>

				<div class = "my-3 py-3">
					<h4>投诉热线</h4>
					<div class = "d-flex justify-content-between my-3">
						<span>021-62547600 *6310</span>
						<span>联系人：贺经理</span>
					</div>
				</div>

				<div class = "my-3 py-3">
					<h4>公司传真</h4>
					<div class = "d-flex justify-content-between my-3">
						<span>021-62548534</span>
						<span>021-62577494</span>
					</div>
				</div>

				<p>简历请发送至邮箱：zgdk59st_hr@126.com</p>
				<p>我们期待您的加入</p>

			</div>
			<div class = "col-md-6 px-3">
				<div class = "my-3 py-3">
					<h4>交通方式：</h4>
					<div class = "my-3">
						<p>公司地址：上海市普陀区武宁路423号</p>
						<p>地铁3、4、11号线曹杨路站下，7号口步行约750米</p>
					</div>
				<div>
				<div class = "my-4">
					<img src = "{% static 'portal/img/address.png' %}" class = "img-fluid"></img>
				</div>
				<div class = "">
					<h4>友情链接</h4>
					<div class ="my-3">
						<p>中国电子科技集团有限公司第五十研究所</p>
						<p>中国电子科技集团有限公司</p>
						<p>上海科技网</p>
						<p>上海协同科技股份有限公司</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock%}

