{% extends 'portal/base.html' %}
{% load static %}

{% block content %}
	<div class = "container" style = "max-width:1280px">
		<div class = " my-5 py-3">
			<div class = "d-md-flex flex-md-equal bg-light py-3">
				<a href = "/news_list/20180127" style = "color:black">
				<div class = "mx-4 my-4">
					<div class = "d-flex justify-content-between font-weight-bold">
						<h5 class = "col-9 ">喜讯 | 公司荣获只会城市管理创新应用“先进单位”称号</h5>
						<span class = "col-3">18-01-27</span>
					</div>
					<div class = "d-flex justify-content-left my-3 col-12">
						<img src = "{% static 'portal/img/news/20180127.webp' %}" class = "img-fluid mx-2" 
							style = "width:20%;height:20%;border-radius:10px;"></img>
						<img src = "{% static 'portal/img/news/20180127_2.webp' %}" class = "img-fluid mx-2" 
							style = "width:20%;height:20%;border-radius:10px;"></img>
					</div>
					<p class = "font-weight-light col-12" style = "color:#000000b5;font-size:15px;">
					1月18日，第三届智慧城市管理与物联网技术应用创新大会……
					</p>
				</div>
				</a>


				<a href = "/news_list/20180127_2" style = "color:black">
				<div class = "mx-4 my-4">
					<div class = "d-flex justify-content-between font-weight-bold">
						<h5 class = "col-9 ">中标 | 服务“一带一路”建设，盛同中标西宁“智慧照明”</h5>
						<span class = "col-3">18-01-27</span>
					</div>
					<div class = "d-flex justify-content-left my-3 col-12">
						<img src = "{% static 'portal/img/news/20180127_2_1.webp' %}" class = "img-fluid mx-2" 
							style = "width:20%;height:20%;border-radius:10px;"></img>
					</div>
					<p class = "font-weight-light col-12" style = "color:#000000b5;font-size:15px;">
					一直以来五十所盛同公司凭借雄厚的技术实力、良好的企业信誉和丰富……
					</p>
				</div>
				</a>

			</div>
			<div class = "d-md-flex flex-md-equal bg-white py-3">

				<a href = "/news_list/20180109" style = "color:black">
				<div class = "mx-4 my-4">
					<div class = "d-flex justify-content-between font-weight-bold">
						<h5 class = "col-9 ">关注 | 公司召开2018首次市场工作会议</h5>
						<span class = "col-3">18-01-09</span>
					</div>
					<div class = "d-flex justify-content-left my-3 col-12">
						<img src = "{% static 'portal/img/news/20180109.webp' %}" class = "img-fluid mx-2" 
							style = "width:20%;height:20%;border-radius:10px;"></img>
						<img src = "{% static 'portal/img/news/20180109_2.webp' %}" class = "img-fluid mx-2" 
							style = "width:20%;height:20%;border-radius:10px;"></img>
					</div>
					<p class = "font-weight-light col-12" style = "color:#000000b5;font-size:15px;">
					2018年1月2日，新年开工第一天，盛同公司……
					</p>
				</div>

				</a>
				<a href = "/news_list/20180109_2" style = "color:black">
				<div class = "mx-4 my-4">
					<div class = "d-flex justify-content-between font-weight-bold">
						<h5 class = "col-9 ">喜讯 | 五十所连续三届获得“全国文明单位”称号</h5>
						<span class = "col-3">18-01-09</span>
					</div>
					<div class = "d-flex justify-content-left my-3 col-12">
						<img src = "{% static 'portal/img/news/20180109_2_1.webp' %}" class = "img-fluid mx-2" 
							style = "width:20%;height:20%;border-radius:10px;"></img>
					</div>
					<p class = "font-weight-light col-12" style = "color:#000000b5;font-size:15px;">
					"全国文明单位"评选是由中央文明……
					</p>
				</div>
				</a>

			</div>


			<div class = "d-md-flex flex-md-equal bg-light py-3">

				<a href = "/news_list/20180109_3" style = "color:black">
				<div class = "mx-4 my-4">
					<div class = "d-flex justify-content-between font-weight-bold">
						<h5 class = "col-9 ">关爱健康 | 公司开展健康知识讲座</h5>
						<span class = "col-3">18-01-09</span>
					</div>
					<div class = "d-flex justify-content-left my-3 col-12">
						<img src = "{% static 'portal/img/news/20180109_3_1.webp' %}" class = "img-fluid mx-2" 
							style = "width:20%;height:20%;border-radius:10px;"></img>
						<img src = "{% static 'portal/img/news/20180109_3_2.webp' %}" class = "img-fluid mx-2" 
							style = "width:20%;height:20%;border-radius:10px;"></img>
					</div>
					<p class = "font-weight-light col-12" style = "color:#000000b5;font-size:15px;">
					为进一步提升员工关爱自我，健康生活的……
					</p>
				</div>
				</a>


				<a href = "/news_list/20180109_4" style = "color:black">
				<div class = "mx-4 my-4">
					<div class = "d-flex justify-content-between font-weight-bold">
						<h5 class = "col-9 ">送温暖 | 心系员工，情暖人心</h5>
						<span class = "col-3">18-01-09</span>
					</div>
					<div class = "d-flex justify-content-left my-3 col-12">
						<img src = "{% static 'portal/img/news/20180109_4_1.webp' %}" class = "img-fluid mx-2" 
							style = "width:20%;height:20%;border-radius:10px;"></img>
					</div>
					<p class = "font-weight-light col-12" style = "color:#000000b5;font-size:15px;">
					对于本次送温暖活动，公司领导十分重视，……
					</p>
				</div>
				</a>

			</div>


			<div class = "d-md-flex flex-md-equal bg-white py-3">

				<a href = "/news_list/20171130" style = "color:black">
				<div class = "mx-4 my-4">
					<div class = "d-flex justify-content-between font-weight-bold">
						<h5 class = "col-9 ">重磅 | 公司多款产品亮相全球智慧城市博览会</h5>
						<span class = "col-3">17-11-30</span>
					</div>
					<div class = "d-flex justify-content-left my-3 col-12">
						<img src = "{% static 'portal/img/news/20171130.webp' %}" class = "img-fluid mx-2" 
							style = "width:20%;height:20%;border-radius:10px;"></img>
						<img src = "{% static 'portal/img/news/20171130_2.webp' %}" class = "img-fluid mx-2" 
							style = "width:20%;height:20%;border-radius:10px;"></img>
						<img src = "{% static 'portal/img/news/20171130_3.webp' %}" class = "img-fluid mx-2" 
							style = "width:20%;height:20%;border-radius:10px;"></img>

					</div>
					<p class = "font-weight-light col-12" style = "color:#000000b5;font-size:15px;">
					11月14日至16日，第七届全球智慧城市博览会……
					</p>
				</div>
				</a>

				<a href = "/news_list/20171130_2" style = "color:black">
				<div class = "mx-4 my-4">
					<div class = "d-flex justify-content-between font-weight-bold">
						<h5 class = "col-9 ">喜讯 | 包头市城市建设指挥系统顺利通过验收</h5>
						<span class = "col-3">17-11-30</span>
					</div>
					<div class = "d-flex justify-content-left my-3 col-12">
						<img src = "{% static 'portal/img/news/20171130_2_1.webp' %}" class = "img-fluid mx-2" 
							style = "width:20%;height:20%;border-radius:10px;"></img>
						<img src = "{% static 'portal/img/news/20171130_2_2.webp' %}" class = "img-fluid mx-2" 
							style = "width:20%;height:20%;border-radius:10px;"></img>
					</div>
					<p class = "font-weight-light col-12" style = "color:#000000b5;font-size:15px;">
					2017年11月22日，包头市市政工程管理局在……
					</p>
				</div>
				</a>

			</div>








		</div>
	</div>
{% endblock %}

