{% extends 'portal/base.html' %}
{% load static %}

{% block content %}
	<div class = "d-flex justify-content-center bg-white" style = "">
		<div class = "py-3">
			<div class = "my-5 text-center ">
				<h1 style = "font-size:3.5rem;">为城市服务提供新思路</h1>
			</div>
			<div class = "">
				<img src = "{% static 'portal/img/municipal_big.jpg' %}" class = "img-fluid"></img>
			</div>
		</div>
	</div>

	<div class = "py-5 px-5" style = "background-color:#1A1A1A;">
		<div class = "my-5 text-center text-white">
			<h1 style = "font-size:3.5rem;">智慧市政综合应用管理平台</h1>
		</div>
		<div class = "py-3 d-flex justify-content-center">
			<div class = "">
				<img src = "{% static 'portal/img/municipal_management_dark.jpg'%}" class = "img-fluid"></img>
			</div>
		</div>
		<div class = "text-center text-white mx-auto pt-5" style="max-width:600px;">
			<p>
            智慧市政综合管理平台融合先进的移动4G技术、物联网技术，形成协同管理、运行维护、动态监测、应急指挥和公众服务环环相扣、紧密配合的管理机制与服务模式，从管理源头上提升城市基础建设和设施安全专项应急管理的"测、报、防、抗、救、援"综合管理能力，实现统一指挥、反应灵敏、功能齐全、协调有序、运转高效的城建应急管理目标，为保障城市基础设施运行安全和打造服务型政府提供全方位支撑。
			</p>
		</div>
	</div>
	<div class = "py-5 d-flex mx-auto justify-content-center">
		<img src="{% static 'portal/img/municipal_functions_img.png' %}" class = "img-fluid"></img>
	</div>

	<div class = "py-5 px-5" style = "background-color:#1A1A1A;">
		<div class = "my-5 text-center text-white">
			<h1 style = "font-size:3.5rem;">城市市政资产地理信息系统</h1>
		</div>
		<div class = "py-3 d-flex justify-content-center">
			<div class = "">
				<img src = "{% static 'portal/img/municipal_gis_dark.jpg'%}" class = "img-fluid"></img>
			</div>
		</div>
		<div class = "text-center text-white mx-auto pt-5" style="max-width:600px;">
			<p>
                       城市市政地理信息系统将GIS技术服务于城市市政的智慧管理中，能够把图形管理系统、数据管理系统有机地结合起来，克服了监控系统和图形系统各自的局限性，使两者优势加强联合，效果更加突出。城市市政地理信息系统将GIS技术应用到市政管理中，实现对市政设施资产信息进行收集、存储、分析。
			</p>
		</div>
	</div>

	<div class = "d-md-flex text-center text-white" style = "background-color:black">
		<div class = "col-md-5 offset-md-2 my-5">
			<img src = "{% static 'portal/img/municipal_statistics_pad.jpg' %}" class = "figure-img img-fluid"></img>
		</div>
		<div class = "text-center clo-md-3 mx-3 d-flex flex-column my-auto" style = "max-with:500px;">
			<h1>查询统计</h1>
			<p class = "figure-caption my-3 text-center text-white px-3" style = "font-size:22px;max-width:500px;">
			可根据区域、道路、维护所等条件查看台账，各个设施的统计图实时显示，各级子台账也可方面调用，支持excel表格导出
			</p>
		</div>
	</div>

	<div class = "d-md-flex text-center px-3 py-5" style = "background-color:#f2f2f2;">
		<div class = "text-center clo-md-1 offset-md-2 d-flex flex-column my-auto" style = "max-with:500px;">
			<h1>GIS操作</h1>
			<p class = "figure-caption my-3 text-center" style = "font-size:22px;max-width:500px;">
			支持基础GIS操作，包括地图内距离测量，长度测量，全图显示，3D、2D地图切换，鹰眼图，各级图层控制,地图点击属性显示
			</p>
		</div>
		<div class = "col-md-6">
			<img src = "{% static 'portal/img/municipal_gis_operation.jpg' %}" class = "figure-img img-fluid"></img>
		</div>
	</div>

	<div class = "py-5 px-5 bg-light" style = "">
		<div class = "my-5 text-center">
			<h1 style = "font-size:3.5rem;">城市照明运行管理平台</h1>
		</div>
		<div class = "py-3 d-flex justify-content-center">
			<div class = "">
				<img src = "{% static 'portal/img/municipal_runmanagement.jpg'%}" class = "img-fluid"></img>
			</div>
		</div>
		<div class = "text-center mx-auto pt-5" style="max-width:600px;">
			<p>
                   城市照明运行维护管理系统是面向照明管理的运行、维修和维护工作的一个综合管理平台，通过建立城市照明管理处内部巡查、维修工单管理、维修任务流转、工单查询、内部办公、台账管理、人员管理、热线受理、处理及追踪。回访、维修情况考评等功能，实现照明管理部门日常工作信息化、流程化、电子化和无纸化，有效提高城市照明管理效率和资源共享程度。
 			</p>
		</div>
	</div>

	<div class = "bg-light py-1 px-3 px-5">
		<div class = "my-5 text-center">
			<h1 style = "font-size:3.5rem;">一个系统，各级管理</h1>
			<div class = "max-auto d-flex justify-content-md-center">
			<p class = "figure-caption my-3 text-center" style = "font-size:22px;max-width:960px;">
			城市照明运行维护管理系统集各种管理于一身，综合了各个领域优势
			</p>
			</div>
	
		</div>
		<div class = "d-md-flex md-md-equal justify-content-md-between mx-auto my-5" style = "max-width:960px;">
			<div  class = "card text-center my-3 col-md-3 mr-md-3">
				<div class = "card-body">
					<h2>派工维修</h2>
					<p class ="font-weight-normal">
			由派单管理平台和工单综合查询平台组成，具有事件登记、转发、完结、监督和查询等功能。
					</p>
				</div>
			</div>
			<div  class = "card text-center my-3 col-md-3 mr-md-3">
				<div class = "card-body">
					<h2>台账管理</h2>
					<p class ="font-weight-normal">
					业务台账电子化，提供台账过与派工维修进行数据联动，为高层决策提供依据。
					</p>
				</div>
			</div>
			<div  class = "card text-center my-3 col-md-3 mr-md-3">
				<div class = "card-body">
					<h2>办公管理</h2>
					<p class ="font-weight-normal">
            实现对管理部门涉及到的设施占用、行政执法、转供电、设施移交、质量反馈以及信息发布的电子化和流程化管理。
					</p>
				</div>
			</div>
			<div  class = "card text-center my-3 col-md-3">
				<div class = "card-body">
					<h2>耗材管理</h2>
					<p class ="font-weight-normal">
            支持耗材数据维护、统计电子化，实现耗材数据统一管理。
					</p>
				</div>
			</div>
		</div>
	</div>



{% endblock %}
